{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Details Page</title>
    <link rel="stylesheet" href="{% static 'css/user_details.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="page-container">
      <div class="form-container">
        <h1>Fill out your details to get <br />your personalized plan</h1>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %} {% for field in form %}
          <div class="form-field">
            {{ field }}
            <div class="error-messages" id="error-{{ field.name }}">
              {% for error in field.errors %}
              <p>{{ error }}</p>
              {% endfor %}
            </div>
          </div>
          {% endfor %}

          <button type="submit" class="save-button">Сохранить</button>
        </form>
      </div>
    </div>
  </body>
</html>
